@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

/*///// GENERAL STYLING & VARIABLES////*/
:root {
  --body--font: "Inter", sans-serif;
  --bg--blue: #85b4d7;
}
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body--font);
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.4;
}
h6 {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

/*HEADER*/
/* scroll banner */
#scrollBanner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--bg--blue);
  width: 100vw;
  height: 2rem;
}

.bannerFirst {
  width: 50%;
  color: white;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1rem;
  animation: banner 2s ease-out infinite;
  font-size: 0.7rem;
}
.shippingBanner {
  display: none;
}
.shippingBanner {
  background-color: var(--bg--blue);
  color: white;
  z-index: 10;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2rem;
  padding-right: 35px;
}

.shippingBanner:hover {
  opacity: 0.4;
  cursor: pointer;
}
@keyframes banner {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(5%);
    opacity: 1;
  }
}

/*HEADER - thordis*/
header {
  position: fixed;
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: rgb(208, 208, 208) solid 1px;
  /*position: fixed;*/
  top: 0;
  background-color: white;
}
.regularmenu ul {
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

.icons {
  padding-left: 15rem;
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 11rem;
}
a.logo:hover {
  opacity: 1;
}
.navbar {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 3.8rem;
  left: -1600px;
  display: flex;
  z-index: 10;
}

.change {
  left: 0;
}

.hamburger-menu {
  width: 20px;
  height: 15px;
  position: fixed;
  top: 55px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotate(-405deg) translate(-1.5px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(405deg) translate(-1.5px, -6px);
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  background-color: white;
  z-index: 10;
  margin-top: 2rem;
}

.nav-item:first-child {
  background-color: rgb(245, 245, 245);
  padding-top: 1.5rem;
}

.nav-item {
  /* margin: 0.5rem; */
  border-bottom: rgb(208, 208, 208) solid 0.8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding-top: 3px 0;
  padding-left: 0.8rem;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.arrow {
  max-width: 1rem;
}

/* LANDING PAGE */
.gradient {
  height: auto;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 200px;
}
.front_products {
  display: flex;
  flex-direction: column;
}
.front_products_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 40px;
  row-gap: 20px;
}
.p_bag {
  font-size: 13px;
}
.p_price {
  font-size: 10.5px;
}
.front_product_image {
  height: 33vw;
  width: 22vw;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_place {
  width: 100%;
  height: 29vw;
}
.image_place img {
  width: 100%;
}
.front_products_nav {
  margin-left: -13px;
}
.front_products_nav ul {
  list-style-type: none;
}
.front_products_nav li {
  float: left;
  padding: 14px;
  font-size: 18px;
}
.fav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fav_text,
.sus_text {
  text-align: center;
  font-size: 28px;
}
.button_fav,
.button_sus {
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #6ec1e3;
  padding: 13px 30px;
  border-radius: 5px;
  color: #f2f1f0;
  font-size: 16px;
}
.sustainability {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "image text";
}
.sus_image {
  width: 100%;
}
.sus_image_1 {
  width: 100%;
  opacity: 0.65;
}

.sus_text {
  position: relative;
  grid-area: text;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  right: 135px;
}
.zero_impact {
  display: flex;
  margin: 0px 100px;
  gap: 90px;
}
.h_impact {
  font-size: 46px;
  font-weight: normal;
}
.p_impact {
  color: #999998;
}
.p_learnmore {
  text-decoration: underline;
}
.impact_products_image {
  width: 260px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.impact_products {
  display: flex;
  gap: 30px;
}
.p_zero {
  font-size: 13px;
}
.em_price {
  font-size: 10.5px;
}
.p_shop {
  font-size: 15px;
  font-weight: bold;
}
em {
  font-size: 14px;
  font-style: normal;
  color: #999998;
  font-weight: normal;
}
.follow_studio {
  font-size: 15px;
  text-decoration: underline;
}
.h_vibes {
  font-size: 48px;
  font-weight: normal;
}
.p_vibes {
  font-size: 15px;
}
.arrivals_image,
.classics_image,
.crossbody_image {
  height: 44vw;
  width: 29vw;
}
.arrivals_image_place,
.classics_image_place,
.crossbody_image_place {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
.arrivals_image_place:hover,
.classics_image_place:hover,
.crossbody_image_place:hover {
  transform: scale(1.01);
}
.arrivals,
.classics,
.crossbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.shop_stuff {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.vibes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 100px;
}
.vibes_image {
  width: 260px;
  height: 260px;
  background-color: #6ec1e3;
}
.vibes_images {
  display: flex;
  gap: 10px;
}
.insta1,
.insta2,
.insta3,
.insta4,
.insta5 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.insta1:hover,
.insta2:hover,
.insta3:hover,
.insta4:hover,
.insta5:hover {
  -webkit-filter: brightness(110%);
}

.impact_products_image img {
  width: 100%;
}

/*/ //// FOOTER //////*/
footer {
  background-color: var(--bg--blue);
  color: white;
}
footer p,
footer a {
  font-size: 13px;
  color: white;
  line-height: 23px;
  font-weight: 300;
}
footer h6 {
  padding-bottom: 1.2rem;
  line-height: 22px;
}
.footerTop {
  padding: 130px 20px 70px;
  display: flex;
  flex-direction: column;
}
.footerHelp,
.footerWarehouse,
.footerSilfen {
  display: flex;
  flex-direction: column;
}
.footerSilfen,
.footerWarehouse {
  padding-bottom: 3rem;
}
.footerSilfen p:nth-child(5) {
  padding-top: 1rem;
}
.footerHelp a {
  padding-bottom: 0.3rem;
}
.footerBottom {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerBottom .ccLinks {
  display: flex;
  gap: 1rem;
}
.footerBottom img {
  height: 1rem;
  width: auto;
}
.footerBottom .connectSVG {
  display: flex;
  gap: 1rem;
}

/* footer form field */

span.emailField {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.11);
}
span.emailField input {
  background: none;
  border: none;
  line-height: 28px;
  font-size: 14px;
  color: white;
}
input.email {
  width: 80%;
}
input.signUp {
  cursor: pointer;
}
::placeholder,
input {
  padding: 0.3rem;
}
::placeholder {
  color: #9bb9cf;
}

form {
  padding: 1rem 0 3rem;
}

/* PRODUCT LIST */

.plbanner {
  position: relative;
  width: 100%;
  z-index: -1;
}

.plbanner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.plbanner h1 {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 100%;
  z-index: 10;
  color: whitesmoke;
  text-decoration: none;
}

.productlistmain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 300px));
  grid-column-gap: 1.5rem;
  grid-row-gap: 5rem;
  justify-content: center;
}

.bags {
  width: 270px;
  height: 100%;
}
.bagImg {
  width: 100%;
  object-fit: cover;
}

.bagInfo {
  margin-bottom: 0.8rem;
}

.bagarticle {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.bagName {
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: bold;
}

.price {
  font-size: 0.7rem;
}

.pages {
  display: flex;
  border: rgb(220, 220, 220) solid 1px;
  justify-content: center;
  gap: 1rem;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0.8rem;
  margin-left: 40%;
}

.pages a {
  font-size: 0.8rem;
  color: rgb(72, 72, 72);
}

.arrowsa {
  max-width: 1rem;
  align-items: center;
}

/* PRODUCT VIEW */

#productView {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
}
img.bagImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}
section.bagInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.bagInfo h1 {
  font-weight: 300;
  line-height: 3rem;
  font-size: 1.7rem;
}
span.bagPrice {
  display: flex;
  gap: 0.6rem;
  line-height: 2rem;
  font-weight: 300;
}
section.bagInfo p.description,
section.bagInfo p.bagColor,
section.bagInfo .toggleItem p {
  font-size: 0.85rem;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.51);
}
section.bagInfo .toggleItem p {
  padding-top: 1.5rem;
}
.quantity {
  display: flex;
  justify-content: space-between;
}
.quantity input {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 0;
  width: 15%;
  line-height: 2rem;
}
.quantity button {
  color: white;
  background-color: black;
  border: none;
  width: 80%;
  cursor: pointer;
}
section.bagInfo .toggleItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding: 1rem 0;
}
section.bagInfo .toggleItem:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}
.hidden {
  display: none;
}
/* plus sign */
.toggleHeading {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.plusSign {
  border: none;
  width: 15px;
  height: 15px;
  color: rgb(0, 0, 0);
  position: relative;
}
.plusSign::before {
  content: "";
  position: absolute;
  left: 255%;
  width: 1px;
  margin-left: -40px;
  margin-top: -5px;
  border-top: 15px solid;
}
.plusSign::after {
  content: "";
  position: absolute;
  left: -20%;
  top: 280%;
  height: 1px;
  margin-left: -5px;
  margin-top: -40px;
  border-left: 15px solid;
}
/*//////////SUSTAINABILITY PAGE/////// */
/*hero img*/
.sustainabilityIMG {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 70vh;
  z-index: -1;
}
.sustainabilityIMG img {
  width: 100%;
  height: 100%;
}
.sustHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  letter-spacing: 0.3rem;
}
/*intro text to sustainability*/
.intro {
  padding: 3rem 2rem 0;
}
.intro p {
  padding-bottom: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}
/*navigation menue and down arrow*/
.seeOur {
  display: flex;
  column-gap: 0.3rem;
}
.seeOur img {
  width: 30px;
}
.seeOur p {
  padding: 0.3rem 0 0 0;
}
/*.arrow {
  background-image: url(svg/down-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;
}*/
.susNav {
  padding: 1rem 0;
  line-height: 1.6rem;
  font-weight: 300;
}

/*middle part, section .intro*/
.midPart {
  display: grid;
  grid-template-columns: 40% 30% 1fr;
  grid-template-rows: 20% 20% 15% 20%;
}
.midPart img {
  width: 100%;
}
.midParagraphs {
  grid-column: 1/ 4;
  grid-row: 4;
  padding: 1rem 2rem 2rem 2rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.blue {
  grid-column: 1/ 3;
  opacity: 0.7;
}
.pink {
  grid-column: 2 / 4;
  grid-row: 2;
  z-index: 1;
  opacity: 0.6;
}

/*timeline*/
.timelineContent figure {
  grid-column: 1/ 3;
  object-fit: fill;
}
.timelineContent img {
  width: 100%;
  height: 100%;
}
.timelineContent {
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 20% 80%;
}
.year {
  border-right: solid 1.5px rgb(181, 179, 179);
}
.year h3 {
  padding: 1rem 0 0 0.5rem;
}
/*FIG CAPTION AND READMORE*/
.captionGrid {
  display: grid;
  grid-template-columns: 35% 1fr;
  padding: 1rem 0 3rem 0.5rem;
}
.captionGrid h4 {
  grid-column: 1/ 3;
}
.captionGrid p {
  padding-top: 0.5rem;
}
.readMoreArrow {
  background-image: url(svg/down-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  margin-top: 0.3rem;
}
.dropdown {
  position: relative;
  display: inline-block;
  grid-column: 1/ 3;
}
.readmoreContent {
  display: none;
  background: white;
}
.readmoreContent li {
  list-style: circle;
  padding-bottom: 0.7rem;
}
.dropdown:hover .readmoreContent {
  display: block;
}
.readmoreFlex {
  display: flex;
  font-weight: 300;
}
/*general fixing sustainability page*/
#goals {
  padding-bottom: 1rem;
}
.line {
  display: none;
}
/*//// MEDIA QUERIES /////*/

@media only screen and (min-width: 768px) {
  /* FOOTER */
  .footerTop {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding-left: 40px;
    padding-right: 40px;
  }
  .leftFooter,
  form {
    margin-right: 1rem;
  }
  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* PRODUCT VIEW */
  #productView {
    flex-direction: row;
    padding: 2rem 6rem;
  }
  #productView article {
    min-width: 40%;
  }

  /* SHIPPING */
  .shippingBanner {
    display: block;
  }

  /* SUSTAINABILTY */
  .sustainabilityIMG {
    padding-bottom: 3rem;
    height: 85vh;
  }
  section.intro {
    width: 70%;
    position: absolute;
    right: 10%;
  }
  .midPart {
    padding-top: 10rem;
    grid-template-columns: 1fr 1fr 5% 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20%;
  }
  .midParagraphs {
    padding-left: 3rem;
  }
  img.blue {
    grid-column: 1/3;
  }
  img.pink {
    grid-column: -1/-3;
  }
  /* sus sticky menu */
  nav.susNav {
    position: sticky;
    top: 100px;
    z-index: 20;
    padding-top: 3rem;
  }
  /* timeline */

  section#timeline {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding-bottom: 3rem;
  }
  .timelineContent {
    margin: 0;
  }
  #leather,
  #water,
  #shipping,
  #rPet {
    width: 80%;
    justify-self: end;
    grid-template-columns: 80% 20%;
    grid-column: 1;
    margin-left: 2rem;
  }
  #cotton,
  #vegan,
  #goals,
  #work {
    width: 80%;
    justify-self: start;
    grid-column: 3;
    margin-right: 2rem;
  }
  .gLine {
    display: block;
    background-color: rgb(181, 179, 179);
    grid-column: 2;
    grid-row: 1/9;
    height: -webkit-fill-available;
    width: 1.5px;
    justify-self: center;
  }
  #cotton {
    grid-row: 2/3;
  }
  #water {
    grid-row: 3/4;
  }
  #work {
    grid-row: 4;
  }
  #shipping {
    grid-row: 5;
  }
  #vegan {
    grid-row: 6;
  }
  #rPet {
    grid-row: 7;
  }
  #goals {
    grid-row: 8;
  }
  .year {
    border: none;
  }
  .right {
    grid-column: 2;
    padding-left: 50%;
  }
  .left {
    grid-column: 1;
    grid-row: 2;
  }
  .captionGrid {
    grid-row: 2;
    padding-bottom: 0;
  }
}

/* BURGER MENU*/
@media screen and (min-width: 1100px) {
  .burgercontainer {
    display: none;
  }
  /*product view*/
  #productView article {
    min-width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .regularmenu {
    display: none;
  }
  .icons {
    padding-left: 0;
  }

  header {
    padding-right: 1rem;
    position: fixed;
  }

  .iconx {
    display: none;
  }
  .logo {
    width: 8rem;
  }
}
@media only screen and (max-width: 768px) {
  /* LANDING PAGE */
  .fav {
    display: none;
  }
  .sustainability {
    display: none;
  }
  .front_products_images {
    display: flex;
    flex-direction: column;
  }
  .front_product_image {
    width: 100%;
    height: 550px;
  }
  .image_place {
    width: 100%;
    height: 100%;
  }
  .shop_stuff {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing_image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .zero_impact {
    display: flex;
    flex-direction: column;
  }
  .impact_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vibes_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .arrivals,
  .classics,
  .crossbody {
    width: 94%;
    height: auto;
  }
  .arrivals_image,
  .classics_image,
  .crossbody_image {
    width: auto;
    height: auto;
  }
  .dva,
  .tri {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .vibes_image {
    width: 90%;
    height: auto;
  }
  .vibes {
    margin-bottom: -60px;
  }
}
