@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

/*///// GENERAL STYLING & VARIABLES////*/
:root {
  --body--font: "Inter", sans-serif;
  --bg--blue: #85b4d7;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body--font);
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.4;
}
h6 {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: rgb(208, 208, 208) solid 1px;
  position: sticky;
  top: 0;
  background-color: white;
}
.regularmenu ul {
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

.icons {
  padding-left: 11rem;
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 11rem;
}

.navbar {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 3.8rem;
  left: -1600px;
  display: flex;
  z-index: 10;
}

.change {
  left: 0;
}

.hamburger-menu {
  width: 20px;
  height: 15px;
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotate(-405deg) translate(-1.5px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(405deg) translate(-1.5px, -6px);
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  background-color: white;
}

.nav-item:first-child {
  background-color: rgb(245, 245, 245);
  padding-top: 1.5rem;
}

.nav-item {
  /* margin: 0.5rem; */
  border-bottom: rgb(208, 208, 208) solid 0.8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding-top: 3px 0;
  padding-left: 0.8rem;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.arrow {
  max-width: 1rem;
}

/*/ //// FOOTER //////*/
footer {
  background-color: var(--bg--blue);
  color: white;
}
footer p,
footer a {
  font-size: 13px;
  color: white;
  line-height: 23px;
  font-weight: 300;
}
footer h6 {
  padding-bottom: 1.2rem;
  line-height: 22px;
}
.footerTop {
  padding: 130px 20px 70px;
  display: flex;
  flex-direction: column;
}
.footerHelp,
.footerWarehouse,
.footerSilfen {
  display: flex;
  flex-direction: column;
}
.footerSilfen,
.footerWarehouse {
  padding-bottom: 3rem;
}
.footerSilfen p:nth-child(5) {
  padding-top: 1rem;
}
.footerHelp a {
  padding-bottom: 0.3rem;
}
.footerBottom {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerBottom .ccLinks {
  display: flex;
  gap: 1rem;
}
.footerBottom img {
  height: 1rem;
  width: auto;
}
.footerBottom .connectSVG {
  display: flex;
  gap: 1rem;
}

/* footer form field */

span.emailField {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.11);
}
span.emailField input {
  background: none;
  border: none;
  line-height: 28px;
  font-size: 14px;
  color: white;
}
input.email {
  width: 80%;
}
::placeholder,
input {
  padding: 0.3rem;
}
::placeholder {
  color: #9bb9cf;
}

form {
  padding: 1rem 0 3rem;
}

/*//// MEDIA QUERIES /////*/

@media only screen and (min-width: 768px) {
  /* FOOTER */
  .footerTop {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding-left: 40px;
    padding-right: 40px;
  }
  .leftFooter,
  form {
    margin-right: 1rem;
  }
  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* BURGER MENU*/
@media screen and (min-width: 1010px) {
  .burgercontainer {
    display: none;
  }
}

@media screen and (max-width: 1010px) {
  .regularmenu {
    display: none;
  }
  .icons {
    padding-left: 0;
  }

  header {
    padding-right: 1rem;
  }

  .iconx {
    display: none;
  }
  .logo {
    width: 8rem;
  }
}
